@font-face {
    font-family: spacefont;
    src: url("../SaucerBB.ttf");
  }
  
   
  #outerDiv{

    background-image: url("../graphics/daniel-olah-1nUNsmWfcSk-unsplash.jpg");
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }
  
  #mainContainer {
    width: 400px;
    display: block;
    margin: auto;
  }
  
  h1 {
    color: white;
    font-size: 100px;
    /*font-family: spacefont;*/
    font-family: 'Audiowide', cursive;
    text-align: center;
  }
  
  .mainContainer input {
    border: 1px solid white;
    width: 100%;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
  }
  
  #information {
    margin-top: 4px;
    font-family: 'Audiowide', cursive;
    font-size: 20px;
    color: white;
    display: block;
    text-align: center;
  }
  
  #findingPlayer {
    box-sizing: border-box;
    margin-top: 4px;
    font-family: 'Audiowide', cursive;
    font-size: 30px;
    color: white;
    display: block;
    text-align: center;
  }
  
  #loadingContainer{
    position:relative;
    margin:auto;
    width:64px;
    top:40px;
  }

  #playername-input{
    text-align: center;
    color:black;
  }

  #information{
    box-sizing: border-box;
    height:8px;
  }

  #instructions{
    position:absolute;
    top:0px;
    right:20px;
  }

  #instructions button{
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #showInstructions{
    padding:20px;
    display: none;
  }

  #showInstructions p{
    color:white;
    margin-bottom: 10px;
  }

  
  /* CSS */
  .button-85 {
    font-family: 'Audiowide', cursive;
    height: 30px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 30px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    margin-top: 30px;
    font-size: 20px;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    left: 0;
    top: 0;
    border-radius: 30px;
  }
  
  /* CSS */
  .button-2 {
    height: 30px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 30px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Audiowide', cursive;
  }
  
  .button-2:before {
    content: "";
    background: linear-gradient(
      45deg,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-2:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 30px;
  }
  
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: -72px 0 #FFF inset;
    }
    100% {
      box-shadow: 48px 0 #FFF inset;
    }
  }
      